<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Passvaults</h1><br>
        <div class="row" [hidden]="!deleteMessage">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Passvault Data Deleted</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Url</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Current URL Status</th>
                    <th>Current URL Status ResponseCode</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let passvault of passvaults ">
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{passvault.url}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{passvault.username}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{passvault.password}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{passvault.status}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;" >{{passvault.responseCode}}</td>
                    <td><button (click)="deletePassvault(passvault.id)" class='btn btn-primary'><i
                                class="fa fa-futboll-0">Delete</i></button>
                        <button (click)="updatePassvault(passvault.id)" class='btn btn-info' data-toggle="modal"
                            data-target="#myModal">Update</button>
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="passvaultupdateform" #updatePass (ngSubmit)="updatePass()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Update PassVault</h4>

                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngFor="let passvault of passvaults ">
                    <div [hidden]="isupdated">

                        <input type="hidden" class="form-control" formControlName="id"
                            [(ngModel)]="passvault.id">
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control" formControlName="username"
                                [(ngModel)]="passvault.username">
                        </div>

                        <div class="form-group">
                            <label for="name">URL</label>
                            <input type="text" class="form-control" formControlName="url"
                                [(ngModel)]="passvault.url">
                        </div>

                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="text" class="form-control" formControlName="password"
                                [(ngModel)]="passvault.password">
                        </div>

                        <div class="form-group">
                            <label for="name">Status</label>
                            <input type="text" class="form-control" formControlName="password"
                                [(ngModel)]="passvault.status">
                        </div>

                        <div class="form-group">
                            <label for="name">Response Code</label>
                            <input type="text" class="form-control" formControlName="responseCode"
                                [(ngModel)]="passvault.responseCode">
                        </div>

                    </div>
                    <div [hidden]="!isupdated">
                        <h4>Passvault Detail Updated!</h4>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="changeisUpdate()">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>